<div class="dropdown py-1">
  <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle text-muted" data-bs-toggle="dropdown" aria-expanded="false">
    <img src="<%= Gravatar.src(current_user.email, 32, default="identicon") %>" alt="Account" width="32" height="32" class="rounded-circle">
  </a>
  <ul class="dropdown-menu dropdown-menu-md-end text-small" style="z-index:9999">
    <li><%= link_to "Change email", rodauth.change_login_path, class: 'dropdown-item' %></li>
    <li><%= link_to "Change password", rodauth.change_password_path, class: 'dropdown-item' %></li>
    <li><hr class="dropdown-divider"></li>
    <li><%= link_to "Sign out", rodauth.logout_path, class: 'dropdown-item' %></li>
  </ul>
</div>
