<div class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
  <div class="flex items-center justify-between mb-4">
    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Resources</h5>
  </div>
  <div class="flow-root">
    <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
      <% registered_resources.each do |resource| %>
        <% next unless allowed_to? :index?, resource %>
        <li class="py-3 sm:py-4">
          <div class="flex items-center">
            <div class="flex-1 min-w-0 ms-4">
              <a href="<%= resource_url_for(resource, parent: nil) %>" class="text-md font-medium text-gray-900 truncate dark:text-white">
                <%= resource.model_name.human.pluralize %>
              </a>
            </div>
            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
              <%= authorized_resource_scope(resource).count %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
