# frozen_string_literal: true

module <%= resource_name_plural %>
  class Presenter < ResourcePresenter
    private

    def collection_fields
      <%= (read_fields - %i[id]).inspect %>
    end

    def detail_fields
      <%= (read_fields - %i[id]).inspect %>
    end

    def form_inputs
      <%= create_fields.inspect %>
    end

    def associations_list
      []
    end
  end
end
