<%= package_name %>::Engine.routes.draw do
  root to: "dashboard#index"

  # register resources above.

  # Define your application routes per the DSL in https://guides.rubyonrails.org/routing.html
end

# mount our app
Rails.application.routes.draw do
  <%- if rodauth_account.present? -%>
  constraints Rodauth::Rails.authenticate(:<%= rodauth_account %>) do
    mount <%= package_name %>::Engine, at: "/<%= name.underscore %>"
  end
  <%- else -%>
  mount <%= package_name %>::Engine, at: "/<%= name.underscore %>"
  <%- end -%>
end
