# frozen_string_literal: true

module Resources
  module Entity
    class <%= resource_name %>Policy < Resources::Entity::ResourcePolicy
      include Resources::<%= resource_name %>Policy

      class Scope
        include Pu::Policy::Initializer

        def resolve
          @context
            .parent
            .<%= resource_name_plural_underscored %>
            <%- if entity_assoc -%>
            .includes(:<%= entity_assoc.name %>)
            <%- end -%>
        end
      end
    end
  end
end
