# frozen_string_literal: true

module Resources
  module <%= resource_name %>Policy
    def permitted_attributes_for_read
      <%= read_fields.inspect %>
    end

    def permitted_attributes_for_create
      <%= create_fields.inspect %>
    end
  end
end
