<%= render_component :block, rounded: :all do %>
  <div <%= render_component_attributes %>>
    <% if title.present? %>
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        <%= title %>
      </h5>
    <% end %>
    <%= content %>
  </div>
<% end %>
