<%
  # locals: {
  #   associations?: "Plutonium::Builder::Associations",
  #   resource_class: "current resource class",
  # }

  associations = nil unless local_assigns[:associations].present?
%>
<% if associations.present? %>
  <div class=" row mb-4">
    <ul class="nav nav-underline justify-content-end">
      <li class="nav-item">
        <%
          url = url_for adapt_route_args(associations.record, use_parent: false)
          active = current_page?(url)
        %>
        <%= link_to 'Details', url, class: "nav-link #{'active' if active}" %>
      </li>
      <% associations.associations.each do |association, definition| %>
        <%
          url = url_for adapt_route_args(associations.record, association, use_parent: false)
          active = current_page?(url) || resource_class == association
        %>
        <li class="nav-item">
          <%= link_to definition[:label] || resource_name_plural(association), url, class: "nav-link #{'active' if active}" %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
