<%#
  locals: {
    resource: "resource to render tabs for",
  }
%>
<ul class="nav flex-column nav-pills nav-tabs-dropdown me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <li class="nav-item">
    <a class="nav-link text-start active" href="#" data-bs-toggle="pill" role="tab" aria-selected="true">Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-start" href="#" data-bs-toggle="pill"  role="tab" aria-selected="false">Entities</a>
  </li>
</ul>
