<div class="dropdown py-1">
  <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle text-muted" data-bs-toggle="dropdown" aria-expanded="false">
    <img src="< %= Gravatar.src(current_user.email, 32, default='identicon') % >" alt="Account" width="32" height="32" class="rounded-circle">
  </a>
  <ul class="dropdown-menu dropdown-menu-md-end text-small" style="z-index:9999">
    <!--
    <li><#%= link_to "Change email", rodauth.change_login_path, class: 'dropdown-item' %></li>
    <li><hr class="dropdown-divider"></li>
    -->
    <% if respond_to? :logout_url -%>
      <li><%= link_to "Sign out", logout_url, class: 'dropdown-item' %></li>
    <% end -%>
  </ul>
</div>
