<a <%= attributes_html %>>
  <%= render_icon icon, size: :xl, classname: "text-gray-400 group-hover:text-gray-500 dark:text-gray-200 dark:group-hover:text-gray-400" %>
  <div class="text-sm text-gray-900 dark:text-white"><%= name %></div>
</a>
