module <%= package_name %>
  class Engine < Rails::Engine
    include Plutonium::<%= package_type %>
    # add concerns above.

    config.after_initialize do
<%- if scoped_to_entity? -%>
      scope_to_entity <%= scoped_entity_class %>, strategy: :path
<%- end -%>
      # add directives above.
    end
  end
end
