module <%= package_name %>
  class Engine < Rails::Engine
    include Plutonium::<%= package_type %>
    # add concerns above.

    config.after_initialize do
      # add directives above.
    end
  end
end
