<% module_namespacing do -%>
class <%= class_name %>Policy < <%= [feature_package_name, "ResourcePolicy"].join "::" %>
  # Core actions

  def create?
    true
  end

  def read?
    true
  end

  # Core attributes

  def permitted_attributes_for_create
    <%= attributes.select{ |a| !a.rich_text? && !a.password_digest? && !a.token? }.map(&:name).map(&:to_sym).inspect %>
  end

  def permitted_attributes_for_read
    <%= attributes.select{ |a| !a.rich_text? && !a.password_digest? && !a.token? }.map(&:name).map(&:to_sym).inspect %>
  end

  # Associations

  def permitted_associations
    %i[]
  end
end
<% end -%>
