<% module_namespacing do -%>
class <%= class_name %>Policy < <%= [feature_package_name, "ResourcePolicy"].join "::" %>
  # Core actions

  # def create?
  #   true
  # end

  # def read?
  #   true
  # end

  # Core attributes

  def permitted_attributes_for_create
    <%= policy_attributes_for_create.inspect %>
  end

  def permitted_attributes_for_read
    <%= policy_attributes_for_read.inspect %>
  end

  # Associations

  def permitted_associations
    %i[]
  end
end
<% end -%>
