<div class="row row-gap-2">
  <% details.fields.each do |name, field| %>
    <dt class="col-md-3"><%= field.label %></dt>
    <dd class="col-md-9"><%= field.render self, details.record %></dd>
  <% end %>
</div>
