<header>
  <nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
      <p class="navbar-brand text-bg-danger text-warning px-2">plutonium<p>
      <%= render 'nav_user' %>
    </div>
  </nav>
</header>
