<%#
  locals: {
    title: "metric title",
    value: "metric value",
  }
%>
<div class="col-sm-6 col-md-4 col-xl-3">
  <div class="card text-center">
    <div class="card-header">
      <%= title %>
    </div>
    <div class="card-body">
      <p class="card-text fs-1"><%= value %></p>
    </div>
  </div>
</div>
