<%# locals: (details:) -%>

<%=
  render_component :toolbar, resource: details.record,
                             actions: details.actions.record_actions.permitted_for(policy(details.record))
%>


<%= render_component :block, rounded: :all do %>

  <div class="p-4">
    <dl class="divide-y divide-gray-100">
      <% details.fields.each do |name, field| %>
        <div class="py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900 dark:text-gray-300">
            <%= field.label %>
          </dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 dark:text-gray-400 sm:col-span-2 sm:mt-0">
            <%= field.render self, details.record %>
          </dd>
        </div>
      <% end %>
    </dl>
  </div>

<% end %>
