<div class="offcanvas-md offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="sidebarLabel"> </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebar" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="flex-shrink-0 ps-3">
      <%= render "sidebar_menu", sidebar_menu: @sidebar_menu %>
    </div>
  </div>
</div>
