<%# locals: (search_object:, search_field:) -%>

<%= search_form_for adapt_route_args(search_object), class: "d-inline", html: { data: { controller: "form", turbo_frame: nil } } do |f| %>
  <label for="search" class="visually-hidden">Search</label>
  <% if search_field.present? %>
    <%=
      f.search_field search_field, id: "search",
                                class: "form-control form-control-sm d-inline w-auto",
                                # since ransack trims strings, we instead
                                # use the url param because it preserves trailing spaces
                                # that way, when the frame reloads the user gets to continue typing
                                value: params[:q].try(:[], search_field),
                                placeholder: "search...",
                                data: {
                                  action: "form#submit",
                                  form_target: "focus"
                                }

    %>
  <% end %>
  <%# preserve sorting %>
  <%= f.hidden_field :s, value: params[:q].try(:[], :s) %>
<% end %>
