class <%= account_path.classify %> < ResourceRecord
  include Rodauth::Rails.model<%= "(:#{table_prefix})" unless primary? %>
  # add concerns above.

  # add constants above.

  enum :status, unverified: 1, verified: 2, closed: 3
  # add enums above.

  <%- if account_path.include?("/") -%>
  self.table_name = :<%= table_prefix.pluralize %>
  <%- end -%>
  # add model configurations above.

  # add belongs_to associations above.

  # add has_one associations above.

  # add has_many associations above.

  # add attachments above.

  # add scopes above.

  validates :<%= login_column %>, presence: true
  # add validations above.

  # add callbacks above.

  # add delegations above.

  # add misc attribute macros above.

  # add methods above. add private methods below.
end
