<% if defined?(ActiveRecord::Railtie) -%>
class <%= table_prefix.camelize %> < ApplicationRecord
  include Rodauth::Rails.model<%= "(:#{table_prefix})" unless primary? %>
  # add concerns above.

  # add model configurations above.

  # add belongs_to associations above.

  # add has_one associations above.

  # add has_many associations above.

  # add attachments above.

<% if ActiveRecord.version >= Gem::Version.new("7.0") -%>
  enum :status, unverified: 1, verified: 2, closed: 3
<% else -%>
  enum status: { unverified: 1, verified: 2, closed: 3 }
<% end -%>
  # add misc attribute macros above.

  # add scopes above.

  validates :email, presence: true
  # add validations above.

  # add callbacks above.

  # add delegations above.

  # add methods above.
end
<% else -%>
class <%= table_prefix.camelize %> < Sequel::Model
  include Rodauth::Rails.model
  plugin :enum
  enum :status, unverified: 1, verified: 2, closed: 3
end
<% end -%>
