<%= package_name %>::Engine.draw_custom_routes do
  # draw custom routes here

  root to: "dashboard#index"
end

# draw routes for registered resources
<%= package_name %>::Engine.draw_resource_routes

# mount our app
Rails.application.routes.draw do
  <%- if rodauth_account.present? -%>
  constraints Rodauth::Rails.authenticate(:<%= rodauth_account %>) do
    mount <%= package_name %>::Engine, at: "/<%= name.underscore %>"
  end
  <%- else -%>
  mount <%= package_name %>::Engine, at: "/<%= name.underscore %>"
  <%- end -%>
end
