/**
 * Color Input Styles for Tailwind v4
 * Converted from @layer components to work with v4
 */

.pu-color-input::-webkit-color-swatch-wrapper {
  @apply p-0;
}

.pu-color-input::-webkit-color-swatch {
  @apply border-none rounded-sm;
}

.pu-color-input::-moz-color-swatch {
  @apply border-none rounded-sm;
}
