# frozen_string_literal: true

module Resources
  module Admin
    class <%= resource_name %>Policy < Resources::Admin::ResourcePolicy
      include Resources::<%= resource_name %>Policy

      class Scope
        include Pu::Policy::Initializer

        def resolve
          scope = ::<%= resource_name %>.all
          scope = @context.parent.<%= resource_name_plural_underscored %> if @context.parent.present?
          scope
          <%- if entity_assoc -%>
            .includes(:<%= entity_assoc.name %>)
          <%- end -%>
        end
      end
    end
  end
end
