You've been invited to <%%= @user_invite.entity.to_label %>

Hi there,

<%%= @user_invite.invited_by.email %> has invited you to join <%%= @user_invite.entity.to_label %> as a <%= model_class.titleize.downcase %>.

Click the link below to accept your invitation:

<%%= @invitation_url %>

<%% if @user_invite.expires_at.present? %>
This invitation will expire on <%%= @user_invite.expires_at.strftime("%B %d, %Y at %l:%M %p") %>
<%% end %>

If you didn't expect this invitation, you can safely ignore this email.
