<%= render_component :block do %>
  <div class="p-6 flex items-center flex-col gap-2">
    <p class="text-gray-500 sm:text-lg dark:text-gray-400"><%= message %></p>
    <%= content %>
  </div>
<% end %>
