<div <%= attributes_html %>>
  <%= content %>
</div>


<ul class="text-sm font-medium flex flex-wrap -mb-px -ms-px">
  <li class="me-2">
    <a class="inline-block p-4 text-primary-600 border-b-2 border-primary-600 rounded-t-lg active dark:text-primary-500 dark:border-primary-500" aria-current="page" href="">Details</a>
    <a class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" href="">Something</a>
  </li>
</ul>
