<% unless rodauth.login_form_footer_links.empty? %>
  <ul class="space-y-1">
    <% rodauth.login_form_footer_links.sort.each do |_, link, text| %>
      <li><%= link_to text, link, class: "text-sm font-medium text-secondary-600 dark:text-secondary-400 hover:underline transition-colors" %></li>
    <% end %>
  </ul>
<% end %>
