<div class="flex space-x-2 items-center">
  <input
    type="checkbox"
    name="reveal-password"
    id="reveal-password"
    class="
      text-primary-500 rounded transition-colors duration-200 checked:bg-primary-500
      hover:bg-primary-200 focus:ring-primary-500
    "
    data-password-visibility-target="checkbox"
    data-action="password-visibility#toggle"
  >
  <label
    for="reveal-password"
    class="block text-sm font-semibold text-gray-900 dark:text-white"
  >
    Show Password
  </label>
</div>
