<div class="flex space-x-2 items-center">
  <input
    type="checkbox"
    name="reveal-password"
    id="reveal-password"
    class="pu-checkbox"
    data-password-visibility-target="checkbox"
    data-action="password-visibility#toggle"
  >
  <label for="reveal-password" class="text-sm font-medium text-[var(--pu-text)]">
    Show Password
  </label>
</div>
