<div class="flex space-x-2 items-center">
  <input
    type="checkbox"
    name="reveal-password"
    id="reveal-password"
    class="rounded"
    data-password-visibility-target="checkbox"
    data-action="password-visibility#toggle"
  >
  <label
    for="reveal-password"
    class="block text-sm font-semibold text-gray-900 dark:text-white"
  >Show Password</label>
</div>
