<div>
  <h4 class="text-2xl font-bold dark:text-white mb-4">Recovery Codes</h4>

  <div class="mb-4 text-sm grid grid-cols-1 gap-y-2 gap-x-4 dark:bg-gray-900 dark:text-gray-200">
    <% if rodauth.recovery_codes.any? %>
      <% rodauth.recovery_codes.each do |code| %>
        <div class="font-mono"><%= code %></div>
      <% end %>
    <% else %>
        <div class="font-mono">You have no recovery codes</div>
    <% end %>
  </div>

  <% if rodauth.can_add_recovery_codes? %>
    <%= render template: "rodauth/recovery_codes", layout: false %>
  <% end %>
</div>
